<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello <%= @contact.name %></h1>
    <p>
      Log in to Mall is Life and gain access to daily savings at <%= @contact.email %> is already saving on their daily mall purchases. 
      <br>
    </p>
    <p>
      To access these savings and more, login to Mall is Life, just follow this link: <%= @url %>.
    </p>
    <p>Happy shopping and have a great day!</p>
  </body>
</html>